.body {


}
.firstpage {

}
.header {
    margin-left: 110px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 465px;

}
.logo {
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.imglogo {
}
.logotext {
    margin-top: 21px;
    margin-left: 4px;
    font-size: 24px;
    font-weight: 800;
    font-family: "Open-Sans";

    
    
}
.GLAV_piece{
}
.right_text {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: right;
    
}
.adres {
    list-style: none;
    border-right: 2px solid rgb(158, 67, 158);
    padding-right: 35px;
}
.adres_1 {
    font-size: 18px;
    font-family: "Open Sans";
}
.adres_2 {
    font-size: 18px;
    font-family: "Open Sans";
}
.adres_3 {
    font-size: 18px;
    font-family: "Open Sans";
}
.contact {
    list-style: none;
}
.contact_number {
    font-size: 34px;
    font-weight: 800;
}
.contact_podpis {
    font-size: 22px;
}
.header_podtext_rigthlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 110px;
    gap: 980px;
}
.header_podtext_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
.header_podtext_list_item {
    font-size: 18px;
    font-family: "Open Sans";
}
.header_podtext_list_button {
    width: 180px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: rgb(131, 32, 131);
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans";

    
}
.upmain_text {
}
.upmain_text_list {
    display: flex;
    flex-direction: row;
    margin-left: 110px;
}
.upmain_text_list_left {
    list-style: none;
    width: 800px;
}
.upmain_text_list_left_item {
    font-size: 34px;
    font-weight: 800;
    font-family: "Open Sans";
}
.upmain_text_list_left_poditem {
    font-size: 20px;
    font-family: "Open Sans";
}
.upmain_image {
}
.upmain_form_list {
    list-style: none;
}
.upmain_form_kaif {

}
.upmain_form_kaif_button{
    margin-top: 20px;
    width: 505px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    appearance: none;
    border: 0;
    color: white;
    background-color: rgb(131, 32, 131);
    font-size: 16px;
    font-weight: 600;

}
.upmain_form_list_item {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    font-family: "Open Sans";

}
.upmain_form_list_poditem {
    font-size: 18px;
    font-family: "Open Sans";
    

}
.upmain_form_podlist {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    gap: 18px;
}
.upmain_form_largeitem{
    height: 30px;
    width: 495px;
}
.upmain_form_smallitem{
    height: 30px;
    width: 235px;

}
.ayano_kiotaka {
    font-family: "Open Sans";
}
.two_text_center {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    font-family: "Open Sans";
}
.ayano_kiotaka_oba {
    
}
.ayano_kiotaka_first {
    display: flex;
    flex-direction: row;
    margin-left: 110px;
}
.ayano_kiotaka_first_image1 {
}
.one_image_text_list {
    list-style: none;
    width: 510px;
}
.one_image_text {
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
}
.one_image_podtext {
    margin-top: 20px;
}
.ayano_kiotaka_second_image {
}
.two_image_text_list {
    list-style: none;
    padding-left: 40px;
}
.two_image_text {
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
    

}
.tmtm{
    display: flex;
    padding-left: 0px;
}
.bmbm{
    display:flex;
    padding-left: 0px;
}


.two_image_podtext {
    width: 400px;
    margin-top: 20px;
}
.ayano_kiotaka_three_image {

}
.three_image_text_list {
    list-style: none;
}
.three_image_text {
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
    
}
.three_image_podtext {
    margin-right: 125px;
    margin-top: 20px;
}
.ayano_kiotaka_second {
    display: flex;
    flex-direction: row;
    margin-left: 95px;
}
.ayano_kiotaka_four_image {
}
.four_image_text_list {
    list-style: none;
    width: 320px;
    padding-left: 50px;
}
.four_image_text {
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
}

.four_image_podtext {
    width: 280px;
    margin-top: 20px;
}
.ayano_kiotaka_five_image {

}
.mmmm{
    display: flex;
    flex-direction: row;
    padding-left: 0px
    

}
.five_image_text_list {
    list-style: none;
    width: auto;
    width: 400px;
}
.five_image_text {
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
}
.five_image_podtext {
    margin-top: 20px;
    
}
.bb_aa{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}
.ayano_kiotaka_six_image {
    
}

.six_image_text_list {
    list-style: none;

}
.six_image_text {
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
    
}
.six_image_podtext {
    width: 330px;
    margin-top: 20px;

}
.garantee {

}
.garantee_quality {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    font-family: "Open Sans";
}
.garantee_quality_podpis {
    margin-left: 580px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 700px;
    font-family: "Open Sans";
}
.garantee_quality_podpis_list {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    font-family: "Open Sans";
}
.garantee_country_Russia {
    font-size: 18px;
    font-weight: 800;
    list-style: none;
}
.garantee_country_Russia_image {

}
.garantee_country_Russia_podpis {

}
.garantee_country_USA {
    list-style: none;
    font-size: 20px;
    font-weight: 800;
}
.garantee_country_USA_image{

}
.garantee_country_USA_podpis{
    font-size: 20px;
    font-weight: 800;
}
.garantee_country_China {
    list-style: none;
    font-size: 20px;
    font-weight: 800;
}
.garantee_country_China_image{

}
.garantee_country_China_podpis{

}
.garantee_country_UK {
    list-style: none;
    font-size: 20px;
    font-weight: 800;
}
.garantee_country_UK_image{
}
.garantee_country_UK_podpis{
}
.bb_baton{
    margin-left: 765px;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    appearance: none;
    border: 0;
    color: white;
    background-color: rgb(131, 32, 131);
    font-size: 16px;
    font-weight: 600;

}

.otzivi {
}
.otzivi_first {
}
.otzivi_first_text {
}
.otzivi_first_podtext {
}
.otzivi_second {
}
.otzivi_second_text {
}
.otzivi_second_podtext {
}
.down_form {
}